In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [ ]:
!jupyter nbextension enable --py --sys-prefix widgetsnbextension
!jupyter nbextension enable --py --sys-prefix gmaps

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2020-11-25 00:36:13,77.48,-69.36,8.89,91,100,1.50
1,1,Arman,RU,2020-11-25 00:36:13,59.70,150.17,2.44,84,0,7.96
2,2,Bethel,US,2020-11-25 00:36:13,41.37,-73.41,36.00,80,1,3.36
3,3,Vaini,TO,2020-11-25 00:36:13,-21.20,-175.20,82.40,78,75,9.17
4,4,Mehamn,NO,2020-11-25 00:36:14,71.04,27.85,29.82,94,100,12.86

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Vaini,TO,2020-11-25 00:36:13,-21.20,-175.20,82.40,78,75,9.17
6,6,Cabedelo,BR,2020-11-25 00:25:54,-6.98,-34.83,77.00,88,20,6.93
8,8,Kismayo,SO,2020-11-25 00:34:19,-0.36,42.55,79.43,84,0,7.87
13,13,Maceio,BR,2020-11-25 00:25:51,-9.67,-35.74,75.20,94,75,9.17
16,16,Arraial Do Cabo,BR,2020-11-25 00:33:31,-22.97,-42.03,75.20,78,75,14.99
19,19,Nelson Bay,AU,2020-11-25 00:33:41,-32.72,152.15,75.00,53,40,12.75
20,20,Tsumeb,NaN,2020-11-25 00:36:16,-19.23,17.72,77.45,49,100,10.36
24,24,Kavieng,PG,2020-11-25 00:36:18,-2.57,150.80,84.94,72,100,8.81
32,32,Matara,LK,2020-11-25 00:36:20,5.95,80.54,77.13,86,100,9.62
33,33,Sinnamary,GF,2020-11-25 00:26:47,5.38,-52.95,78.48,86,24,9.86

In [11]:
preferred_cities_df.count()

City_ID       160
City          160
Country       159
Date          160
Lat           160
Lng           160
Max Temp      160
Humidity      160
Cloudiness    160
Wind Speed    160
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
3             Vaini      TO     82.40 -21.20 -175.20
6          Cabedelo      BR     77.00  -6.98  -34.83
8           Kismayo      SO     79.43  -0.36   42.55
13           Maceio      BR     75.20  -9.67  -35.74
16  Arraial Do Cabo      BR     75.20 -22.97  -42.03
19       Nelson Bay      AU     75.00 -32.72  152.15
20           Tsumeb     NaN     77.45 -19.23   17.72
24          Kavieng      PG     84.94  -2.57  150.80
32           Matara      LK     77.13   5.95   80.54
33        Sinnamary      GF     78.48   5.38  -52.95

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Vaini,TO,82.40,-21.20,-175.20,Keleti Beach Resort
6,Cabedelo,BR,77.00,-6.98,-34.83,Lua Mansa Pousada
8,Kismayo,SO,79.43,-0.36,42.55,Agan-Hotel
13,Maceio,BR,75.20,-9.67,-35.74,Mercure Maceio Pajucara Hotel
16,Arraial Do Cabo,BR,75.20,-22.97,-42.03,Pousada Porto Praia
19,Nelson Bay,AU,75.00,-32.72,152.15,Mantra Nelson Bay
20,Tsumeb,NaN,77.45,-19.23,17.72,TeaterHuis Guest House
24,Kavieng,PG,84.94,-2.57,150.80,Nusa Island Retreat
32,Matara,LK,77.13,5.95,80.54,Amaloh Boutique Resort
33,Sinnamary,GF,78.48,5.38,-52.95,ALETHEIA Appartement Sinnamary

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))