In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-11-24 01:13:00,3.07,172.79,81.90,75,47,11.12
1,1,Bluff,NZ,2020-11-24 01:09:57,-46.60,168.33,62.01,54,100,7.00
2,2,Upernavik,GL,2020-11-24 01:13:01,72.79,-56.15,15.73,85,92,9.01
3,3,Madang,PG,2020-11-24 01:13:01,-5.22,145.80,76.87,92,100,4.61
4,4,Punta Arenas,CL,2020-11-24 01:13:01,-53.15,-70.92,46.40,61,20,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat","Lng"]]
# 2. Assign the weights variable to some values.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]# an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Butaritari,KI,2020-11-24 01:13:00,3.07,172.79,81.90,75,47,11.12
3,3,Madang,PG,2020-11-24 01:13:01,-5.22,145.80,76.87,92,100,4.61
8,8,Inhambane,MZ,2020-11-24 01:13:02,-23.86,35.38,76.26,87,0,12.41
12,12,Umm Lajj,SA,2020-11-24 01:13:03,25.02,37.27,77.07,44,0,8.28
23,23,Katherine,AU,2020-11-24 01:13:05,-14.47,132.27,89.60,55,40,9.17
32,32,Balabac,PH,2020-11-24 01:13:06,7.99,117.06,82.45,79,100,20.71
35,35,Salinopolis,BR,2020-11-24 01:10:03,-0.61,-47.36,78.22,86,100,8.59
38,38,Bambous Virieux,MU,2020-11-24 01:13:06,-20.34,57.76,75.20,83,40,11.41
41,41,Rodrigues Alves,BR,2020-11-24 01:13:07,-7.74,-72.65,79.65,69,91,2.10
42,42,Carnarvon,AU,2020-11-24 01:13:07,-24.87,113.63,77.00,83,0,10.29

In [11]:
preferred_cities_df.count()

City_ID       148
City          148
Country       148
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp    Lat     Lng Hotel Name
0        Butaritari      KI     81.90   3.07  172.79
3            Madang      PG     76.87  -5.22  145.80
8         Inhambane      MZ     76.26 -23.86   35.38
12         Umm Lajj      SA     77.07  25.02   37.27
23        Katherine      AU     89.60 -14.47  132.27
32          Balabac      PH     82.45   7.99  117.06
35      Salinopolis      BR     78.22  -0.61  -47.36
38  Bambous Virieux      MU     75.20 -20.34   57.76
41  Rodrigues Alves      BR     79.65  -7.74  -72.65
42        Carnarvon      AU     77.00 -24.87  113.63

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Butaritari,KI,81.90,3.07,172.79,Isles Sunset Lodge
3,Madang,PG,76.87,-5.22,145.80,Comfort Inn Hotel
8,Inhambane,MZ,76.26,-23.86,35.38,Oceano
12,Umm Lajj,SA,77.07,25.02,37.27,Moon light Furnished Units
23,Katherine,AU,89.60,-14.47,132.27,Pine Tree Motel
32,Balabac,PH,82.45,7.99,117.06,Sing and Swing Lodge
35,Salinopolis,BR,78.22,-0.61,-47.36,Salinas Park Resort Maçarico AP101
38,Bambous Virieux,MU,75.20,-20.34,57.76,Casa Tia Villa
41,Rodrigues Alves,BR,79.65,-7.74,-72.65,Pousada Aconchego
42,Carnarvon,AU,77.00,-24.87,113.63,Hospitality Carnarvon

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))